.nav-caption{
    display: inline-block;
    padding-left: 20px;
}

.container{
	overflow: hidden;
}

.pad_top{
	padding-top: 15px;
}

::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

mat-card{
	overflow: auto;
	height: 550px;
}

.add_button_layout{
	position: absolute !important;
	bottom: 25px !important;
	right: 0 !important;
}

@media only screen and (max-width : 800px) {
      mat-sidenav {
  		width: 50px;
		}
    }