.card_layout{
	height: 250px;
    padding: 15px;
    margin: 20px;
}


::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.pull_button{
	margin-top: -10px;
}

.content_overflow{
    overflow: auto;
}

::ng-deep .newsArea .mat-list-item {
  height: 100px !important;
}
